Delta PLC Project (Sorting Machine)/NodeRed/sorting_node_red.json
[
    {
        "id": "1a8c7a2e4c99a4d9",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0273698baf50901b",
        "type": "modbus-read",
        "z": "1a8c7a2e4c99a4d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "3",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a9d4b3de44e4b473",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "31d5f2214fe5b72c",
                "9e6baf1950db9dbf",
                "6273fd0dc9608a63"
            ],
            []
        ]
    },
    {
        "id": "31d5f2214fe5b72c",
        "type": "ui_text",
        "z": "1a8c7a2e4c99a4d9",
        "group": "fdb02a19bbb44794",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter 1",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "9e6baf1950db9dbf",
        "type": "ui_text",
        "z": "1a8c7a2e4c99a4d9",
        "group": "fdb02a19bbb44794",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter 1",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "6273fd0dc9608a63",
        "type": "ui_text",
        "z": "1a8c7a2e4c99a4d9",
        "group": "fdb02a19bbb44794",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter 1",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "ce2ac85c258c3dc5",
        "type": "ui_button",
        "z": "1a8c7a2e4c99a4d9",
        "name": "",
        "group": "fdb02a19bbb44794",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "39e3aefe40e5bcb1"
            ]
        ]
    },
    {
        "id": "39e3aefe40e5bcb1",
        "type": "modbus-write",
        "z": "1a8c7a2e4c99a4d9",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "a9d4b3de44e4b473",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "efb56c6c160e575d",
        "type": "ui_button",
        "z": "1a8c7a2e4c99a4d9",
        "name": "",
        "group": "fdb02a19bbb44794",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "311aa8ddb9936f5a"
            ]
        ]
    },
    {
        "id": "311aa8ddb9936f5a",
        "type": "modbus-write",
        "z": "1a8c7a2e4c99a4d9",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "a9d4b3de44e4b473",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a9d4b3de44e4b473",
        "type": "modbus-client",
        "name": "delta plc",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10003",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fdb02a19bbb44794",
        "type": "ui_group",
        "name": "Default",
        "tab": "a82b65919039146c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a82b65919039146c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]